<div class = "blog-body">
    <div class = blog-intro>
        <h2 style="color: var(--bld_color)">Hey, Im Alex</h2>
        <p>This blog serves as a space to deepen my understanding of computer science 
            concepts and new technologies. You’ll find posts on software engineering, 
            data science, and machine learning, along with occasional reflections on 
            books I’ve read and other topics that spark my curiosity.
        </p>
    </div>
    <div class = split>
        <fieldset class = blog-directory >
            <legend align="center" style = "color: var(--bld_color);">
                DIRECTORY
            </legend>
            <app-blog-directory/>

        </fieldset>

        <fieldset class = blog-preview>
            <legend align="center" style = "color: var(--bld_color);">
                PREVIEW
            </legend>
            <app-blog-preview/>
        </fieldset>
    </div>
</div>
